/* Estilo para la tarjeta de detalles */
.detalle {
  min-height: 75vh;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;     /* Centra el contenido verticalmente */
}
.detalle-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 80%;
  max-height: 90%;
}

/* Contenedor de la imagen y el texto */
.detalle-card-content {
  display: flex;
  align-items: center; /* Alinea verticalmente la imagen y el texto */
  justify-content: center;

}

/* Estilo de la imagen */
.detalle-card img {
  width: 50%; /* 40% del contenedor, puedes ajustar este valor */
  max-height: 100%; /* Ajusta la altura según tus necesidades */
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

/* Contenedor de texto */
.detalle-text {
  flex: 1; /* Ocupa el espacio restante */
  text-align: left; /* Alinea el texto a la izquierda */
}

.detalle-card h2 {
  color: var(--color-primario);
  margin-bottom: 10px;
}

.detalle-card p {
  font-size: var(--tamano-parrafo);
  margin-bottom: 10px;
}

.detalle-card a {
  color: black;
}

/* Estilo para los botones */
.detalle-botones {
  display: flex;
  justify-content: start; /* Alinea los botones a la izquierda */
  gap: 10px;
}

.detalle-button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: var(--tamano-parrafo);
  color: white !important;
  background-color: var(--color-primario);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detalle-button:hover {
  background-color: var(--color-hover);
}
