<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Proveedor</title>
    <link rel="stylesheet" href="../css/main.css">

</head>
<body>

<!-- Barra de navegación -->
<div id="nav-placeholder"></div>

<!-- Detalles del proveedor -->
<div id="detalle" class="detalle"></div>

<!-- Pie de página -->
<div id="footer-placeholder"></div>

<!-- cargar datos con el id -->
<script src="../js/detalles.js"></script>

</body>
</html>
