<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proveedores y Servicios</title>
  <link rel="stylesheet" href="../css/main.css" />

</head>
<body>
  
<!-- barra de navegacion -->
<div id="nav-placeholder"></div>

<!-- componente de busqueda -->
<div id="header-placeholder"></div>

<!-- Lista de Proveedores -->
<section class="proveedores" id="proveedores-lista"></section>

<!-- pie de pagina -->
<div id="footer-placeholder"></div>

<!-- script para traer componentes -->
<script src="../js/proveedores.js"></script>

</body>
</html>
